* {
  margin: 0;
  padding: 0;
}

.Main {
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
}
.MainChild {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.MainChild img {
  object-fit: cover;
}
.first {
  width: 49.5%;
  height: 500px;
}
.second {
  height: 500px;
  width: 49.5%;
}
